html {

}
body{
    margin: 0;
    padding: 0;
}
main{
    padding: 20px 60px 40px;
}

.under-header {
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.side {
    background-color: hotpink;
    width: 30%;
}

p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img{
    border-bottom-width: 1px;
    border-color: black;
    border-style: solid;
}

header{
    margin: 20px;
    background-color: #5393ca;
    padding-left: 190px;
}

h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
    height: 55px;
    padding: 30px;
}