html {
    background-color: #fdc4e2;
}
body{
    margin: 0;
    padding: 0;
}
main{
    padding-left: 60px;
    padding-right: 60px;
}

p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    background-color: #5393ca;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-left: 60px;
}