html {
    background-color: beige;
}
body{
    margin: 0;
    padding: 0;
}

p{
    margin: 20px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 20px;
    padding: 10px;
    background-color: #1E88E5;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}