html {

}
body{
    margin: 0;
    padding: 0;
}
main{
    padding-left: 60px;
    padding-right: 60px;

}

.under-header{
    display: flex
}

.side{
    background-color: hotpink;
    width: 10%;
    height: 100%;
}

p{
    margin: 10px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    margin: 20px;
    background-color: #5393ca;
    padding-left: 60px;
}

h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}